@-webkit-keyframes short-press {
  0% {
    transform: scale(1);
  }
  
  50% {
    transform: scale(.9);
  }
  
  100% {
    transform: scale(1);
  }
}


.hide {
  display: none;
}

.submit-button {
  display: block;
  /*font-family: 'Open Sans', Helvetica, Arial, sans-serif;*/
  /*font-weight: 600;*/
  /*text-transform: uppercase;*/
  /*font-size: .75em;*/
  /*letter-spacing: 1px;*/
  height: 40px;
  width: 100px;
  /*line-height: 38px;*/
  overflow: hidden;
  /*background: #4dbecf;*/
  /*border-radius: 3px;*/
  /*box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);*/
  /*border: 0;*/
  cursor: pointer;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}
.submit-button:hover, .submit-button:focus {
  /*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);*/
}
.submit-button.animated {
  -webkit-animation: 0.3s short-press cubic-bezier(0.77, 0, 0.175, 1) forwards;
          animation: 0.3s short-press cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.submit-button > span {
  display: block;
  color: white;
  text-align: center;
}
.submit-button > span.pre-state-msg {
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  /*-webkit-transition-delay: .1s;*/
   /*transition-delay: .1s;*/
}
.submit-button.state-1 .pre-state-msg {
  margin-top: -22px;
}
.pre-state-msg,.done-state-msg{
	margin-top:4.5px;
}
.submit-button.state-2 .pre-state-msg {
  margin-top: -55px;
  /*padding-top: 9px;*/
    /*font-size: 1.75vw;*/

    /*margin-bottom: px;*/


}
